@charset "UTF-8";

body {
	margin:0px;
	padding:0px;
	background-attachment: scroll;
	background-image: url(../images/background.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}

#content_container {
	margin-left:auto;
	margin-right:auto;
	width:900px;
	height: 750px;
	background-attachment: scroll;
	background-image: url(../images/Untiftled-4.png);
	background-repeat: no-repeat;
	background-position: right center;
}

#logo_container {
	height:90px;
	width:900px;
	margin-left:auto;
	margin-right:auto;
}


#logo_image {
	width:130px;
	height:75px;
	margin-left:10px;
	margin-top:10px;
	float:left;
	background-image: url(../images/logo.png);
}

#top_bar_black {
	width:100%;
	height:90px;
	background-color:#000000;
}


.header_LW {
	font-size:35px;
	color:#000000;
	width:1000px;	
}

#LWS {
	width:500px;
	margin-top:50px;
	margin-bottom:25px;
	float: left;
}

#header_LW_desc {
	font-size:26px;
	color:#000000;
	width:1000px;	
}

#header_FIO {
	margin-left:30px;
	font-size:30px;
	color:#FFFFFF;
	width:700px;
}

#header_task_desc {
	font-size:18px;
	color:#333333;
	width:700px;
}

#header_description {
	font-size:16px;
	color:#333333;
	width:500px;
}

#header_task {
	font-size:20px;
	color:#333333;
	width:500px;
	font-weight:bold;
}

#header_WP {
	font-size:16px;
	color:#333333;
	width:500px;
	font-weight:bold;
}


